@import url("./reset.css");
@import url("./menu.css");
@import url("./title.css");
@import url("./about.css");
@import url("./skills.css");
@import url("./hobbies.css");
@import url("./academic.css");
@import url("./experience.css");
@import url("./formcontato.css");
@import url("./footer.css");

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor--1: #a6a6a6;
    --cor--2: #0d0d0d;
    --cor--3: #262626;
    --cor--4: #d9d9d9;
    --cor--5: #727272;
    --espacamento: 3%;
    --paddingPadrao:7%;
    --sizeTitle: 2rem;    
}

.all {
    box-sizing: border-box;    
    background-color: var(--cor--2);
    color: var(--cor--4);
    font-family: 'Raleway';    
    line-height: 1;
    overflow-x:hidden;    
    width: 100%;
}

a{
    color: var(--cor--4);
}

.error { 
    color: red; 
}


/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/
@media (max-width:1050px){
    :root {
        --espacamento: 1.5%;
        --paddingPadrao:3.5%;
        --sizeTitle: 1.5rem;
    }

    /*title*/
    .title__bio {
        font-size: 2.5rem;
        line-height: 1em;
        font-weight: bolder;
        padding-bottom: var(--espacamento);
    }
    
    /*academic*/        
    .academic__courses__box {    
        width: 100%;
        height: 30vh;    
    }
        
    /*experience*/
    .experiencia__botao--repo {
        width: 96px;
        height: 40px;
        font-size: .8rem;
    }
    
    .experiencia__botao--demo {
        width: 96px;
        height: 40px;
        font-size: .8rem;
    }
}

@media (max-width: 800px){
    
/* Menu */
.menu__list__item {
    display: none;
}

/*title*/
.title__bio {
    font-size: 2rem;
    line-height: 1em;
    font-weight: bolder;
    padding-bottom: var(--espacamento);
}

.title__subsection {
    font-size: 1.25rem;
    line-height: 1.5em;
    padding-bottom: var(--espacamento);
}

.title__network {
    display: flex;
    gap: 2.5rem;
}

.title__profile {
    max-width: 146px;
    max-height: 146px;
}

/*about */
.about__paragraph {
    width: 100%;        
}

/*skill*/

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; /* Espaço entre as caixas */
}

.skills__box {    
    width: 224px;
    height: 144px;
}

/*hobbies*/
.hobbies__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; /* Espaço entre as caixas */
}

.hobbies__box {
    width: 224px;
    height: 118px;
}

/*experience*/

.experience__img {
    max-width: 100%;
    height: auto;
    padding-bottom:0.25rem;
}

.experience__info {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
}

.experience__info > h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.experience__description{
    padding-bottom:2rem;
}

.experiencia__botao--repo {
    width: 108px;
    height: 40px;   
}

.experiencia__botao--demo {
    width: 108px;
    height: 40px;    
}

.experience__box:nth-child(odd) {
    flex-direction: column;
}

.experience__box:nth-child(even) {
    flex-direction: column;
}

/*formcontato */

.formcontato__img {
    display: none;
}

.formcontato__textarea {
    width: 85vw;
}


}



/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/

/*Formação Acadêmica*/

/*Experiência Profissional*/

/*Contato*/

/*Footer*/
}